.navbar{
    background-color:blue;
}
.jumbotron{
    background-color:darkblue;
    color:white
}
.img-circle{
    height:200px;
    width:200px
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .img-circle {
        justify-content:center
    }
}
footer{
    background-color:black;
    color:white
}
